@media only screen and (min-width: 100px) and (max-width: 600px) {
*{
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
}
body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    color: #926239;
    line-height: 1.6;
}
/* Home Section */
#home{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
}
#home::before{
  content: "";
  background: url("../Images/beachshowcase.jpg") no-repeat center center/cover;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0.8;
}
#home p{
  color: #926239;
  font-size: 1rem;
  text-align: center;
}
/* Main Page */
.section-1{
  display: block;
  background-color: #926239;
  color: #fff;
  text-align: center ;
  padding: 20px;
  width: 100%;
}
.section-2{
  display: block;
  background-color:  #f4f4f4;
  color: #926239;
  text-align: center ;
  padding: 20px;
}
/* Footer section */
/* footer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #926239;
  color: #fff;
  text-align: center;
} */
.box{
  padding: 5px;
}
.box:nth-child(2){
  background-color: #fff;
  color: #926239;
}

/* Utility Class */
.h-primary{
  font-size: 1rem;
  color: #926239;
  text-align: center;
}
.btn{
  /* opacity: 0; */
  text-decoration: none;
  font-size: 1rem;
  padding: 5px 10px;
  margin: 15px 5px;
  color: #926239;
  border-radius: 15px;
  border: #926239 2px solid;
}
.btn:hover{
background-color: #926239;
color: #fff;
border: #926239 2px solid;
}
}
